name: cpp-cmake-mingw-prebuilt-release-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*'

jobs:
  build:
    name: Create Release
    runs-on: windows-2019
    env:
      libraryName: mpfr
      installationPath: mpfr-installation
      mingwTargetZip: mpfr-${{ github.ref_name }}-x86_64-posix-seh-rev0-8.1.0.zip
    steps:
      - uses: actions/checkout@v3
      
      - name: try aria2 
        shell: cmd
        run: aria2c "https://www.mpfr.org/mpfr-current/mpfr-4.1.0.zip" && 7z.exe x mpfr-4.1.0.zip
        
      - name: try aria2 
        shell: cmd
        run: aria2c "https://github.com/dirkarnez/gmp-prebuilt/releases/download/v6.2.1/gmp-v6.2.1-x86_64-posix-seh-rev0-8.1.0.zip" && 7z.exe x gmp-v6.2.1-x86_64-posix-seh-rev0-8.1.0.zip -o "gmp-v6.2.1-x86_64-posix-seh-rev0-8.1.0"
        
      - name: Install MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: make autoconf automake libtool autogen perl
          
      - name: curl x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z
        shell: cmd
        run:  cd /d ${{ github.workspace }} && curl https://github.com/2641797006/c/blob/master/GCC-zip/x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z?raw=true -L --output x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z && dir && 7z.exe x x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z
        
      - name: curl cmake-3.24.0-windows-x86_64.zip
        shell: cmd
        run: cd /d ${{ github.workspace }} && curl https://github.com/Kitware/CMake/releases/download/v3.24.0/cmake-3.24.0-windows-x86_64.zip -L --output cmake-3.24.0-windows-x86_64.zip && dir && 7z.exe x cmake-3.24.0-windows-x86_64.zip
      
      - name: set PATH, check mingw version, cmake generate, build and install
        shell: msys2 {0}
        run: |
            export PATH="${{ github.workspace }}/mingw64:${{ github.workspace }}/mingw64/bin:${{ github.workspace }}/cmake-3.24.0-windows-x86_64/bin:${{ github.workspace }}/msys64/usr/bin:/usr/bin" &&
            cd mpfr-4.1.0 && g++ --version && ./configure mingw64 --enable-static --disable-shared --enable-thread-safe --enable-decimal-float --with-gmp-include="$(pwd)/../gmp-v6.2.1-x86_64-posix-seh-rev0-8.1.0/include" --with-gmp-lib="$(pwd)/../gmp-v6.2.1-x86_64-posix-seh-rev0-8.1.0/lib" --prefix="$(pwd)/${{ env.installationPath }}" &&
            mingw32-make.exe install
            
      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          directory: "${{ github.workspace }}/mpfr-4.1.0/${{ env.installationPath }}"
          filename: "${{ env.mingwTargetZip }}"
        
      - name: Release prebuilt
        uses: ncipollo/release-action@v1
        with:
          artifacts: "${{ github.workspace }}/mpfr-4.1.0/${{ env.installationPath }}/${{ env.mingwTargetZip }}"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
